<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for AKT1
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=aktmod2c1&selection=map">aktmod2c1</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=EGFR&selection=map">EGFR</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdm2&selection=map">p53mdm2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdm2&selection=map">p53mdm2</a>
</table>
