<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for CCDC6
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=histone&selection=map">histone</a>
</table>
