<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for CITED2
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
</table>
