<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for CTNNB1
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=aktmod2c1&selection=map">aktmod2c1</a>
</table>
