<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for EGFR
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=EGFR&selection=map">EGFR</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
</table>
