<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for EP300
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=ATMChk2&selection=map">ATMChk2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdm2&selection=map">p53mdm2</a>
</table>
