<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for MDM2
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=ATMChk2&selection=map">ATMChk2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=CHK2&selection=map">CHK2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=hypoxia&selection=map">hypoxia</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdm2&selection=map">p53mdm2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdmx&selection=map">p53mdmx</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=replication&selection=map">replication</a>
</table>
