<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for MDM4
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=CHK2&selection=map">CHK2</a>
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdmx&selection=map">p53mdmx</a>
</table>
