<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for MSH2
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=ATMChk2&selection=map">ATMChk2</a>
</table>
