<table border=1>
<tr align=center valign=top>
<td>links to Kurt Kohn MIMs for TXNRD2
<tr align=center valign=top>
<td><a href="http://discover.nci.nih.gov/mim/view.jsp?MIM=p53mdmx&selection=map">p53mdmx</a>
</table>
